html {
    font-size: calc(10 / 1440 * 100vw);
    font-family: 'PT Mono';
    
}

body {
    margin: 0;
    padding: 0;
    color: rgb(37, 37, 37);
    background: rgb(224, 224, 224);
}


.katka-screen {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}


.luxus-button {
    position: fixed;
    width: 5rem;
    background-color: rgb(37, 37, 37);;
    height: 100vh;
    align-self: center;
    justify-content: center;
    text-align: center;
    line-height: 4rem;
    font-size: 3rem;
    display: flex;
    font-family: 'PT Mono';
    text-transform: uppercase;
    border-right: 1px solid black;
    text-decoration: none;
    
}

@media (max-width: 834px) {
    .luxus-button {
        display: none;
    }
}

.luxus-button-2 {
    width: 5rem;
    background-color: rgb(37, 37, 37);;
    height: 100vh;
    align-self: center;
    justify-content: center;
    text-align: center;
    line-height: 4rem;
    font-size: 3rem;
    display: flex;
    font-family: 'PT Mono';
    text-transform: uppercase;
    border-right: 1px solid black;
    text-decoration: none;
}

@media (max-width: 834px) {
    .luxus-button-2 {
        display: none;
    }
}

.menu-t {
    width: 100vw;
    background-color: #121212;
    height: 8.5rem;
    display: flex;
}

@media (min-width: 835px) {
    .menu-t {
        display: none;
    }
}

.menu-t-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 100%;
    border-right: 1px solid #E5E5E5;
}

.menu-t-luxus {
    font-size: 3rem;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #E5E5E5;
    text-decoration: none;
}

.menu-t-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 100%;
}

.menu-t-spotify {
    font-size: 3rem;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #1DB954;
    text-decoration: none;
}

.luxus-button:hover {
    background-color: #001AFF;
    color: rgb(224, 224, 224);
}

.luxus-button-text {
    display: flex;
    align-self: center;
    text-align: center;
    justify-self: center;
    color: rgb(224, 224, 224);
    
}

.stroka-katka {
    display: flex;
    width: 139rem;
    white-space:nowrap;
    overflow:hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

@media (max-width: 834px) {
    .stroka-katka {
        width: 100vw;
        border-right: none;
    }
}

.stroka-katka div {
    font-family: PT Mono;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.25em;
    text-transform: uppercase; 
    margin: 0 auto;
    animation: marquee 10s linear infinite;
    display: flex;
    }

@media (max-width: 834px) {
    .stroka-katka div {
    font-size: 2.4rem;
    line-height: 4rem;
    }
}

@keyframes marquee {
    to {
    transform: translateX(calc(-100% / 4));
    }
}

.katka-logo {
    display: flex;
    width: 139.1rem;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
    justify-items: center;
}

@media (max-width: 834px) {
    .katka-logo {
        width: 100vw;
        border-left: 1px solid black;
    }
}

.katka-letters {
    width: 22.2rem;
    height: 22.3rem;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    font-family: 'PartnerBlack';
    color: #001AFF;
    font-size: 23rem;
    text-transform: uppercase;
    margin: 0;
    align-self: center;
    justify-self: center;
    text-align: center;
    line-height: 26rem;
}

@media (max-width: 834px) {
    .katka-letters {
        width: 16.6vw;
    }
}

.katka-letters-2 {
    display: flex;
    margin: 0;
    width: 27.6rem;
    height: 22.3rem;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.katka-description {
    width: 44.6rem;
    /* max-height: 50rem; */
}

@media (max-width:834px) {
    .katka-description {
        width: 100vw;
    }
}

.katka-description-1 {
    /* width: 41rem; */
    display: flex;
    padding: 2.8rem 1.8rem;
    border-bottom: 1px solid black;
    height: 19.55rem;
    border-right: 1px solid black;
}



.first-boardshop {
    display: flex;
    font-family: PT Mono;
    font-size: 3.75rem;
    line-height: 4rem;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    text-align: left;
}

.shop-items {
    font-family: PT Mono;
    font-size: 0.8rem;
    line-height: 0.9rem;
    text-align: right;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    }

.katka-description-2 {
    display: flex;
    /* width: 51rem; */
}

@media (max-width:834px) {
    .katka-description-2 {
        width: 100vw;
    }
}

.katka-description-fr {
    width: 18.65rem;
    padding: 1.8rem;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

@media (max-width:834px) {
    .katka-description-fr {
        width: 50vw;
    }
}

.katka-text {
    font-family: PT Mono;
    font-size: 1.2rem;
    line-height: 1.3rem;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    text-align: left;
}

.safespace {
    font-family: PT Mono;
    font-size: 4rem;
    line-height: 4.5rem;
    text-transform: uppercase;
    color: #001AFF;
    text-align: left;
    letter-spacing: 0.2em;
    }

.katka-description-3 {
    display: flex;
    height: 14.5rem;
    /* width: 51rem; */
    font-family: PT Mono;
    font-size: 2.4rem;
    line-height: 3rem;
    text-align: center;
    letter-spacing: 0.385em;
    text-transform: uppercase;
    color:  #001AFF;
}

@media (max-width:834px) {
    .katka-description-3 {
        display: none;
    }
}

#spotify-hover:hover {
    background-color: #001AFF;
    color: rgb(224, 224, 224);
}

.katka-description-fr2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18.65rem;
    padding: 1.8rem;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.afisha {
    width: 92.4rem;
    /* height: 53.2rem; */
    padding-top: 2.2rem;
    padding-bottom: 3.5rem;
    padding-left: 2rem;
    /* border-bottom: 1px solid black; */
    /* border-right: 1px solid black; */
}

.description-afisha {
    display: flex;
}

@media (max-width:834px) {
    .description-afisha{
       display: block; 
    }
}

.afisha-images {
    display: flex;
    overflow: auto;
    margin-right: 2rem;
}

.afisha-image {
    display: flex;
    width: 32rem;
    margin-right: 4rem;
}