@font-face {
    font-family: 'NK57';
    src: url('fonts/NK57.woff2') format('woff2'),
        url('fonts/NK57.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cursor Apple';
    src: url('fonts/Cursor-Apple.woff2') format('woff2'),
        url('fonts/Cursor-Apple.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'NK57';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    background: #C70000;
    color: black;
}

h1 {
    font-family: 'NK57';
    font-weight: bold;
    font-size: 200px;
    font-style: normal;
    font-display: swap;
}

.slash {
    position: absolute;
    width: 668px;
    height: 199px;
    left: 631px;
    top: 0px;
    margin-top: 0;
}

.logo {
    position: absolute;
    width: 445px;
    height: 298px;
    left: 33px;
    top: 317px;
    font-size: 200px;
    line-height: 90px;
    margin: 0;
}

h2 {
    position: absolute;
    width: 276px;
    height: 50px;
    left: 44px;
    top: 615px;
    font-size: 50px;
    line-height: 50px;
    margin: 0;
}

a {
    position: absolute;
    width: 238px;
    height: 50px;
    left: 44px;
    top: 665px;
    font-size: 50px;
    line-height: 50px;
    margin: 0;
    color: black;
}

h3 {
    position: absolute;
    width: 239px;
    height: 11px;
    left: 959px;
    top: 530px;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
}

.arrow {
    position: absolute;
    width: 99px;
    height: 237px;
    left: 1148px;
    top: 465px;
    font-family: 'Cursor Apple';
    font-style: normal;
    font-weight: normal;
    font-size: 200px;
    line-height: 240px;
    margin: 0;
}