body {
    background: rgb(224, 224, 224);
    font-family: 'PT Mono';
    color: rgb(37, 37, 37);
    text-align: center;
    margin: 0 auto;
}


.parent_logo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
    width: 100vw;
    justify-content: end;
    text-align: center;
    margin: 0 auto;
    }

    .div1 { font-size: 280px; grid-area: 1 / 1 / 3 / 2; }
    .div2 { font-size: 280px; grid-area: 2 / 2 / 4 / 3; }
    .div3 { font-size: 280px; color:#001AFF; grid-area: 3 / 3 / 5 / 4; }
    .div4 { font-size: 280px; grid-area: 4 / 4 / 6 / 5; }
    .div5 { font-size: 280px; grid-area: 5 / 5 / 7 / 6; }
    .div6 { font-size: 280px; grid-area: 1 / 5 / 3 / 6; }
    .div7 { font-size: 280px; grid-area: 2 / 4 / 4 / 5; }
    .div8 { font-size: 280px; grid-area: 4 / 2 / 6 / 3; }
    .div9 { font-size: 280px; grid-area: 5 / 1 / 7 / 2; }
    .div10 {
        grid-area: 3 / 1 / 5 / 2; }
    .div11 { 
        justify-self: center;
        align-self: center;
        font-size: 24px;
        letter-spacing: 0.385em;
        grid-area: 1 / 3 / 2 / 4; }
    .div12 { grid-area: 3 / 5 / 5 / 6; }
    .div13 { grid-area: 6 / 3 / 7 / 4; }

    .divmenu {
        justify-self: center;
        align-self: center;
        font-size: 24px;
        letter-spacing: 0.385em;
        color:#001AFF;
    }


.a-menu {
    color: #001AFF;
    text-decoration: none;
}
    
.a-menu:hover {
    color: red;
}

.cookies-box {
    border: 3px solid #001AFF;
    box-sizing: border-box;
    width: 901px;
    height: 125px;
    margin: 50px auto;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    
}

.cookies-thanks {
    font-family: 'PT Sans Caption';
    border: 1px solid #000000;
    box-sizing: border-box;
    width: 217px;
    height: 60px;
    margin-left: auto;
    font-size: 14px;
    letter-spacing: 0.385em;
    padding: 20px;
    align-self: center;
    text-align: center;
    
    
}
.cookies-text {
    font-family: 'PT Sans Caption';
    text-transform: uppercase;
    font-size: 12px;
    text-align: left;
    width: 400px;
    box-sizing: border-box;
    display: inline-block;
    margin-top: 0;
    align-self: center;

}

.stroka-luxus {
    font-family: PT Mono;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.25em;
    text-transform: uppercase;
}

.posters-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 2fr 3fr;
    grid-template-rows: repeat(3, 3fr) 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 90vh;
    border-top: 1px solid black;
    
    }

    .posters-grid > div {
        padding-top: 15px;
        padding-bottom: 15px;
        height: auto;
        text-align: center;
        
    }
    
    .div1-1 { 
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        
        grid-area: 1 / 1 / 2 / 2; }
    .div2-1 { 
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        grid-area: 1 / 2 / 2 / 3; }
    .div3-1 { 
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        grid-area: 1 / 3 / 2 / 4; }
    .div4-1 { 
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        grid-area: 2 / 1 / 3 / 2; }
    .div5-1 { 
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        grid-area: 2 / 2 / 3 / 3; }
    .div6-1 { 
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        grid-area: 2 / 3 / 3 / 4; }
    .div7-1 { 
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        grid-area: 3 / 1 / 4 / 2; }
    .div8-1 { 
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        grid-area: 3 / 2 / 4 / 3; }
    .div9-1 { 
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        grid-area: 3 / 3 / 4 / 4; }
    .div10-1 { 
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        grid-area: 4 / 1 / 5 / 4; }
    .div11-1 { 
        border-bottom: 1px solid black;
        padding-left: 6vw;
        border-right: 0px; grid-area: 1 / 4 / 5 / 5; }
    .div12-1 { 
        border-bottom: 1px solid black;
        grid-area: 1 / 5 / 5 / 6; }

.img-posters-grid {
    height: 150px;
    margin: 2vh;
    align-self: center;
    justify-self: center;
}

.img-posters-grid-sqr {
    height: 120px;
    margin-top: 30px;
    align-self: center;
    justify-self: center;
}

.img-big-poster {
    width: 410px;
    align-self: flex-start;
    justify-self: flex-start;
    margin-top: 20px;
}

.poster-name {
    font-family: PT Mono;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    text-align: left;
    margin-top: 20px;
}

.poster-text {
    font-family: PT Mono;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.115em;
    text-align: left;
}

.instagram {
    font-family: 'PT Mono';
    font-weight: bold;
    font-size: 220px;
    line-height: 258px;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: rgb(37, 37, 37);
    text-align:center;
}
